#define WIFI_SSID "wifi_name"
#define WIFI_PSK "wifi_pass"
#define MQTT_BROKER "iot.eclipse.org"
#define MQTT_PORT 1883
#define MQTT_ID "device_id"
#define STATE_TOPIC "/state"
#define COLOR_TOPIC "/color"
#define BRIGHTNESS_TOPIC "/brightness"
#define PRESET_TOPIC "/presets"
